:root {
  --color-bg-dark: #2a3048;
  --color-bg-light: #38405f;
  --color-button-hover: #33417a;
  --color-text: #dae0f7;
}

body {
  margin: 0;
  background-color: var(--color-bg-light);
  color: var(--color-text);
}

button {
  border: none;
  background: var(--color-bg-light);
  color: var(--color-text);
  font-family: serif;
  font-size: 24px;
  padding: 8px 16px;
}

button:hover {
  background: var(--color-button-hover);
  cursor: pointer;
}

h2 {
  font-size: 28px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 10px;
}

.game-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.start-screen {
  background: var(--color-bg-dark);
  width: 290px;
  height: 453px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.start-container {
  height: 190px;
  background-color: var(--color-bg-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-screen p, h2 {
  margin: 0;
}

.start-screen p {
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
}

.start-screen .title-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ready-container {
  height: 190px;
  background: var(--color-bg-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-screen {
  background: var(--color-bg-dark);
  width: 310px;
  height: 473px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.cabinet {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: var(--color-bg-dark);
  padding: 10px;
}

.shelf {
  display: flex;
  gap: 10px;
  border-bottom: 10px solid var(--color-bg-light);
  padding-bottom: 3px;
}

.slot {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.shelf > .slot.item {
  padding-bottom: 7px;
  margin-bottom: -7px;
}

.slot.hidden {
  background-image: none;
}

.picker {
  background: var(--color-bg-dark);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 294px;
  gap: 10px;
  background: var(--color-bg-dark);
  padding: 8px;
}

.indicator-container {
  display: flex;
  padding: 4px;
  gap: 4px;
  background: var(--color-bg-light);
}

.indicator {
  width: 12px;
  height: 16px;
  /* border-radius: 6px; */
}

.indicator-empty {
  background: var(--color-bg-dark);
}

.indicator-strike {
  background: rgb(222, 66, 66);
}

.indicator-attempt {
  background: rgb(240, 197, 26);
}
