body {
  margin: 0;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 40px;
}

.cabinet {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background: #cccccc;
}

.shelf {
  display: flex;
  gap: 20px;
  padding: 10px;
  background: #dddddd;
}

.slot {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  user-select: none;
}

.slot.locked {
  background: #aaaaaa;
}

.item-picker {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
  background: #dddddd;
  width: 330px; 
  height: 190px;
}

.start-guessing {
  width: 350px; 
  height: 210px;
  background: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-guessing > button {
  padding: 20px 40px;
  font-size: 20px;
  background: #2e9c3f;
  color: white;
  border: none;
}

.stats {
  display: flex;
  width: 350px;
  gap: 20px;
  justify-content: flex-end;
}

.level {
  background: #eeeeee;
  padding: 5px 10px;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
}

.indicator-container {
  display: flex;
  background: #eeeeee;
  padding: 5px 10px;
  gap: 5px;
}

.indicator {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.indicator-red {
  background: red;
}

.indicator-gold {
  background: #dfab00;
}

.indicator-gray {
  background: gray;
}
